<div>
    <h1>Albums for selected artist: {{release_date}}</h1>
    {{#each items}}
    <p><img src="{{images.1.url}}" alt={{name}}></p>
    <h3>{{name}}</h3>
    <a href="/tracks/{{id}}" method="GET" name="albumId">View Tracks</a>
    {{/each}}
</div>