<h1>Albums for: {{items.0.artists.0.name}}</h1>
<div class="results">
    {{#each items}}
    <div>
        <p><img id="album-image" src="{{images.1.url}}" alt={{name}}></p>
        <h4>{{name}}</h4>
        <a href="/tracks/{{id}}" method="GET" name="albumId">View Tracks</a>
    </div>
    {{/each}}
</div>